/* Leaflet.markercluster CSS */
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster {
  border-radius: 50%;
  color: #222;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #fff;
}
